nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
}
.logo h2{
  font-size: 24px;
  color:#0f172a ;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 30px;
}
li{
  font-size: 16px;
  cursor: pointer;
}
button{
  background:#2563eb;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius:8px;
  font-size:16px ;
}

/*hero section*/
.hero {
  height:100vh ;
  background-image: url(./assets/banner.jpg);


background-size:cover;
background-position:center;
position:relative;}
.overlay{
  width: 99%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.hero h1{
  font-size: 70px;margin-bottom: 20px;
}
.hero p{
  width: 700px;
  font-size: 20px;
  margin-bottom: 30px;
}
.hero-btn{
  background: #2563eb;
  color: white;
  border:none ;
  padding: 17px;
  border-radius: 5px;
  font-size: 16px;
}
/*speakers section*/
.speakers{padding: 80px 120px;
text-align: center;}


.speaker-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}
.speaker-card img{
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius:5px ;
  display: block;

}
.tag{
  color: #2563eb;
  font-size: 12px;
  object-fit: cover;
  border-radius: 10px;
}
.speaker h3{
  margin: 8px 0;
  font-size:22px;
}
.speaker-card p{
  color: #666;
}
.speaker-content{
  padding: 20px;
}
/*--pricing or secure*/
.pricing{
  text-align: center;
  padding: 80px 60px;
  
}
.cards{
  display: flex;
  justify-content: center;
  gap: 80px;
}
.card{
  width: 350px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background:white ;
  box-sizing: border-box;
}
.pro{
  background: #111827;
  color: white;
 
}
.card ul{
  list-style: disc;
  padding: 0;
  margin: 20px 0;
}
.card li{
  margin: 15px 0;
}
.card button{
  display: block;
  width: 180px;
  margin: 20px auto 0;
  padding: 15px;
  background: #2563eb;
  color:white ;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}
/*--footer/something missing*/

.footer-bg{
  background-color: #333;
  color:white ;
  font-family:Arial, sens-serif ;
}
.footer{
  display: flex;
  justify-content: space-around;
  padding:20px;
}
.footer div{
  flex:1 ;
  margin: 0 10px;
}
.footer ul{
  list-style: none;
  padding: 0;
}
.footer-li{
  margin-bottom: 8px;

}
.footer-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-top: 1px solid #444;
  font-size: 14px;
  color: #aaa;
}
.footer-bottom img{
  height: 30px;
}
footer -bottom p{
  width: 100%;
  text-align: center;
}







